.btn {
  padding: 0.9em 1.6em;
  border: none;
  outline: none;
  color: rgb(227, 227, 227);
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0);
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 6, 59, 0);
  left: 0;
  top: 0;
  border-radius: 10px;
}
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #10017f,
    #10017f,
    #ffffff,
    #10017f,
    #10017f,
    #ffffff,
    #10017f
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}

.landin {
  width: 100vhs;
  height: 100vh;
  background-image: url(../imagenes/landing.jpg);
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
